{% extends "model-page.html" %}

{% block content %}
<h2>Evento</h2>

<form action="submit" method="POST">
    {% csrf_token %}
    <label for="title">Título:</label><br>
    <input type="text" id="title" name="title"><br><br>

    <label for="date">Data:</label><br>
    <input type="datetime-local" id="date" name="date"><br><br>

    <label for="description">Descrição:</label><br>
    <textarea name="description" id="description" cols="30" rows="10"></textarea><br><br>

    <button type="submit">Salvar</button>
    <a href="/">
        <button type="button">Cancelar</button>
    </a>

</form>

{% endblock %}